@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --dark-blue-89: rgba(12, 32, 41, 0.89);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);
  --color-text: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  color: var(--color-text);
  font-family:
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.15;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('images/michelle-spollen-dC2FsjoXsPQ-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition:
    color 0.5s,
    background-color 0.5s;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.anton-regular {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  cursor: pointer;
}
