@import './base.css';

#app {
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  width: 100vw;
  height: max-content;
  padding: 60px 10%;

  background-color: var(--clr-blue-700);
}

span {
  height: fit-content;
  align-self: flex-end;
}

.container__grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.padding-0 {
  padding: 0px;
}

.padding-10 {
  padding: 0px 10px;
}

.margin-v20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-shiftLeft10 {
  margin-left: -10px;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.row {
  display: flex;
  gap: 10px;

  align-items: center;
}

.row--space-between {
  justify-content: space-between;
}

.main-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 0px 30px;
}

.main-column--right {
  align-items: start;

  padding: 0px;
  padding-left: 20px;
}

.main-column--sbtwn {
  justify-content: space-between;
}

.heading {
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.heading--shiftedRight {
  margin-left: 10px;
}

a,
button {
  padding: 5px 10px;
  border-radius: 3px;

  color: inherit;
  font-size: var(--fs-650);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}

a:hover,
.invertedLink,
button {
  color: var(--clr-blue-700);
  background-color: var(--clr-neutral-100);
}

.list-link {
  display: block;
  font-family: inherit;
  font-size: var(--fs-600);

  width: 92.28%;
}

.list-link--emphasized {
  font-family: 'Anton';
  font-size: var(--fs-650);
}

.invertedLink,
button {
  width: 100%;
  border: 1px solid transparent;
}

.invertedLink:hover,
button:hover {
  background-color: var(--clr-blue-700);
  color: var(--clr-neutral-300);
  border: 1px solid var(--clr-neutral-300);
}

.red-button {
  background-color: var(--clr-red-100);
}

.red-button:hover {
  color: var(--clr-red-100);
  border: 1px solid var(--clr-red-100);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav--column {
  flex-direction: column;
  align-items: start;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 35%;
  border-radius: 10px;
  padding: 45px 30px;
  border: 1px solid var(--clr-neutral-300);
}

.form__heading {
  text-align: center;
  border-bottom: 1px solid white;
}

.form__field {
  display: flex;
  flex-direction: column;

  color: var(--clr-neutral-300);
  margin-bottom: 10px;

  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  resize: none;
  background-color: var(--clr-neutral-200);
}

textarea {
  height: 150px;
}

ul {
  flex: 1;

  padding: 0;
  width: 100%;
  max-height: 320px;

  overflow: auto;
  scrollbar-color: var(--clr-neutral-300) transparent;
}

.material-symbols-outlined {
  color: white;
  background-color: transparent;

  width: fit-content;
  height: fit-content;
  padding: 5px 6px;
  border: 1px solid transparent;
  border-radius: 3px;

  line-height: 0.9;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  cursor: pointer;
}

.material-symbols-outlined:hover {
  background-color: var(--clr-neutral-200);
  color: var(--clr-blue-700);
}

.header-grid {
  display: grid;
  grid-template: 1fr / 33.3px 1fr 33.3px;
  align-items: start;

  width: 100%;
}

.header-grid__heading {
  width: 100%;
  text-align: center;
}

.center-text {
  text-align: center;
}

.image-card {
  border-radius: 7px;
  width: 100%;
  height: 300px;

  background-size: cover;
  overflow: hidden;
}
